<SwitchView Value="1">
    <SwitchCase When="1">
        <p>1</p>
    </SwitchCase>
    <SwitchDefault>
        <p>default</p>
    </SwitchDefault>
</SwitchView>

<SwitchDefault>
    <p>default</p>
</SwitchDefault>
